<%- include('partials/header') %>

    <!--for complaints near yourArea and Two dropdowns at right-->
    <div class="row">

      <div class="col-lg-8 col-md-8">

        <h3 class="heading">Your issue has been posted!</h3>
        <br>

      </div>

      <div class="col-lg-2 col-md-2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Date
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Newest</a></li>
            <li><a class="dropdown-item" href="#">Oldest</a></li>
          </ul>
        </div>

      </div>

      <div class="col-lg-2 col-md-2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Radius
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">2 km</a></li>
            <li><a class="dropdown-item" href="#">5 km</a></li>
            <li><a class="dropdown-item" href="#">10 km</a></li>
          </ul>
        </div>

      </div>


    </div>

    <br>
    <br>

    <!--for the individual complains -->

    <div class="row">
      <div class="col-lg-6 col-md-6 issuedescription">


      <h4>Complaint 1</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla tortor arcu, dignissim tristique massa sit amet,
        venenatis vestibulum est. Sed at sollicitudin nisl.
        Sed aliquet sem sed purus efficitur, id efficitur nunc finibus.
        Proin eget consectetur libero, nec sollicitudin tellus. Donec at varius erat.
        Maecenas tincidunt risus eu ipsum venenatis, eu lacinia dui lacinia.
        Sed sagittis feugiat enim ac sollicitudin. Nunc hendrerit faucibus metus eu cursus</p>

        </div>

        <div class="col-lg-5 col-md-5 issueimage">
          <img src="images/potholes.png" height="250px" width="400px" alt="">

        </div>

        <div class="col-lg-1 col-md-1 status">
          <center>
            <h6 class="statusInfo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
              </svg></h6>
          </center>

        </div>

    </div>

    <br>

    <div class="row">
      <div class="col-lg-6 col-md-6 issuedescription">


      <h4>Complaint 2</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla tortor arcu, dignissim tristique massa sit amet,
        venenatis vestibulum est. Sed at sollicitudin nisl.
        Sed aliquet sem sed purus efficitur, id efficitur nunc finibus.
        Proin eget consectetur libero, nec sollicitudin tellus. Donec at varius erat.
        Maecenas tincidunt risus eu ipsum venenatis, eu lacinia dui lacinia.
        Sed sagittis feugiat enim ac sollicitudin. Nunc hendrerit faucibus metus eu cursus</p>

        </div>

        <div class="col-lg-5 col-md-5 issueimage">
          <img src="images/traffic.jpg" height="250px" width="400px" alt="">

        </div>
        <div class="col-lg-1 col-md-1 status">
          <center>
            <h6 class="statusInfo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
              </svg></h6>
          </center>

        </div>

    </div>

    <br>

    <div class="row">
      <div class="col-lg-6 col-md-6 issuedescription">


      <h4>Complaint 3</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla tortor arcu, dignissim tristique massa sit amet,
        venenatis vestibulum est. Sed at sollicitudin nisl.
        Sed aliquet sem sed purus efficitur, id efficitur nunc finibus.
        Proin eget consectetur libero, nec sollicitudin tellus. Donec at varius erat.
        Maecenas tincidunt risus eu ipsum venenatis, eu lacinia dui lacinia.
        Sed sagittis feugiat enim ac sollicitudin. Nunc hendrerit faucibus metus eu cursus</p>

        </div>

        <div class="col-lg-5 col-md-5 issueimage">
          <img src="images/graffiti.jpg" height="250px" width="400px" alt="">

        </div>

        <div class="col-lg-1 col-md-1 status">
          <center>
            <h6 class="statusInfo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
              </svg></h6>
          </center>

        </div>

    </div>

    <br>

    <% issues.forEach(function(issue) { %>
      <div class="row">
        <div class="col-lg-6 col-md-6 issuedescription">


        <h4><%= issue.ProblemType %></h4>
        <p><%= issue.IssueDesc %></p>

          </div>

          <div class="col-lg-5 col-md-5 issueimage">
            <img src="data:issue/<%=issue.img.contentType%>;base64,
					<%=issue.img.data.toString('base64')%>" height="250px" width="400px" alt="">

          </div>

          <div class="col-lg-1 col-md-1 status">
            <center>
              <h6 class="statusInfo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg></h6>
            </center>

          </div>

      </div>
      <br>
  <%  })    %>


    <br>

    <center>
      <h6 class="statusInfo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg> Done</h6>
        <h6 class="statusInfo"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg> Pending </h6>
        <h6 class="statusInfo"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg> Not processed</h6>


    </center>

    <br>
    <br>





  </div>

  <%- include('partials/footer') %>
